stow/atom/.atom/.node-gyp
stow/atom/.atom/.storage
stow/atom/.atom/packages
stow/atom/.atom/storage
stow/atom/.atom/themes
stow/atom/.atom/compile-cache
stow/atom/.atom/.apm
stow/atom/.atom/blob-store

stow/git/.gitconfig

stow/fish/.config/fish/fish_history
stow/fish/.config/fish/fish_read_history
stow/fish/.config/fish/fish_variables
stow/fish/.config/fish/fishd.784f436e8649
stow/fish/.config/fish/functions
stow/fish/.config/fish/fishd.*

stow/vim/.vim/.netrwhist
stow/vim/.vim/autoload
stow/vim/.vim/plugged
