atom.stow/.atom/.node-gyp
atom.stow/.atom/.storage
atom.stow/.atom/packages
atom.stow/.atom/storage
atom.stow/.atom/themes
atom.stow/.atom/compile-cache
atom.stow/.atom/.apm
atom.stow/.atom/blob-store

git.stow/.gitconfig

fish.stow/.config/fish/fish_history
fish.stow/.config/fish/fish_read_history
fish.stow/.config/fish/fish_variables
fish.stow/.config/fish/fishd.784f436e8649
fish.stow/.config/fish/functions

vim.stow/.vim/.netrwhist
