" -- Search
set ignorecase            " Ignore case when searching
set smartcase             " If there is an uppercase in your search term search case sensitive again
set incsearch             " Highlight search results when typing
set hlsearch              " Highlight search results
set number                " Show line numbers

" -- Rebind navigation to a wasd like ijkl
noremap j h
noremap i k
noremap k j
noremap h i
noremap <space> i

" -- Do not yank when pasting
vnoremap p "_dP

